#win {
	--webkit-user-select: none;
	z-index: 100;
	display: block;
	position: absolute;
	font-family: 'Caveat', 'Shadows Into Light', 'Poppins', sans-serif;
	font-size: 24px;
	width: 100%;
	height: 100%;
}

.modal {
	position: absolute;
	width: 250px;
	color: black;
	bborder: 2px gray inset;
	user-select: none;
}

.modal.trader {
	width: 350px;
}

.modal .title {
	margin: 0px;
	padding: 0px;
	color: white;
	border: 2px #d9d9d9 outset;
	background: #8b8b8b;
	background: #5454a7;
}

.modal .content {
	padding: 6px;
	background: darkgray;
	background: #cfcfcf;
}

.modal .content.trader {
	display: flex;
	flex-wrap: wrap;
}

.modal .content .trader.layout {
	display: flex;
}

.modal .content .inventory {
	wwidth: 50%;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal .content .inventory .item {
	display: inline-block;
	width: 100%;
	margin-right: 1ex;
	white-space: nowrap;
	/* border: 1px gray inset; */
	padding: 0px;
	margin: 2px;
	color: #615e0f;
	cursor: pointer;
}

.modal .inventory .item>span {
	display: inline-block;
}

.modal .inventory .item:hover {
	color: purple;
}

.modal.contextmenu .content {
	padding: 1;
	margin: 0;
}

.modal .item img {
	display: inline-block;
	width: 40px;
	height: 40px;
	mmargin: 2px;
	margin-right: 4px;
	float: left;
	image-rendering: pixelated;
}

.modal.contextmenu .option {
	display: block;
	border-top: 1px #848484 solid;
	/* background: #bbbbbb; */
	cursor: pointer;
	padding: 3px;
	/* margin: 1px; */
}

.option.disabled {
	background: #585858;
	color: #2f2f2f;
	font-style: italic;
	font-weight: bold;
}

option.disabled:hover {}

.modal.contextmenu .option:not(.disabled):hover {
	background: green;
}

.modal :first-child::before {
	content: '';
}

.modal .button {
	display: inline-block;
	margin-right: 1ex;
	border: 1px gray inset;
	padding: 0px;
	color: #333;
	cursor: pointer;
}

.modal .pawnimage {
	width: 200px;
	height: 200px;
	margin: -40px;
	margin-bottom: -20px;
	background: url('art/Untitled2.png');
	background-size: cover;
}

.modal .gun {
	display: block;
	width: 200px;
	hheight: 150px;
}

.area {
	-webkit-user-select: none;
	user-select:none;
	touch-action: none;
	user-select: none;
	position: absolute;
	color: white;
	font-size: 2em;
	right: 20%;
	bottom: 20%;
	transition: opacity 2s ease-in-out 0s;
	opacity: 1;
}

.area.fade {
	opacity: 0;
}

.modal.you {
	width: auto;
}

.modal.you .title {
	bbackground: #7e6868;
	bbackground: #9e8e7a;
}

#messages {
	position: absolute;
	display: inline-block;
	left: 50px;
	top: 100px;
}

#messages .message {
	position: relative;
	display: block;
	color: white;
	font-size: 1.5em;
	margin: 10px;
	width: 300px;
	left: 0;
	transition: left 2s ease-in-out;
}

#messages .message.fade {
	left: -300px;
}