#win {
	z-index: 1;
	display: block;
	position: absolute;
	font-family: 'Press Start 2P', cursive;
	font-family: Courier;
	width: 100%;
	height: 100%;
}

.modal {
    position: absolute;
    width: 300px;
    color: black;
    border: 2px gray inset;
}

.modal :first-child::before {
	content: '';
}

.modal .title {
    margin: 0px;
    padding: 4px;
    color: black;
    border: 1px gray inset;
    background: #8b8b8b;
    bbackground: midnightblue;
}

.modal .content {
	padding: 4px;
	background: darkgray;
}

.modal .item {
	display: inline-block;
	margin-right: 1ex;
	border: 1px gray inset;
	padding: 1px;
	color: #333;
	cursor: pointer;
}

.modal .item > span {
	display: inline-block;
}

.modal .item:hover {
	color: purple;
}